@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.main-menu__item{
	  padding: 0 10px;
	  .main-menu__link{
		font-size: 12px;
	  }
	}
  	.contacts__phone{
	  font-size: 15px;
	}
  .contacts__callback-link{
	font-size: 14px;
  }
  .header__top-wrapper-fixed .main-menu__item .main-menu__link{
	font-size: 11px;
  }
  .about-company__article{
	padding-left: 10px;
  }
  .slick-slide img {
	display: block;
	object-fit: scale-down;
	width: 100%;
  }
  .slider-menu__item{
	padding-left: 5px;
	padding-right: 5px;
  }
  .big-menu__list-item{
	width: 100%;
  }
  .news--catalog-list{
	flex-wrap: wrap;
	.news--catalog{
	  margin-bottom: 25px;
	}
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .header--blue{
	height: 250px;
	.header__top-wrapper{
	  height: 100%;
	}
	.contacts{
	  margin-top: 0;
	}
	.contacts--blue .contacts__phone, .contacts--blue .contacts__callback, .contacts--blue .contacts__callback-link{
	  text-align: center;
	}
	.contacts .contacts__workdays{
	  text-align: center;
	  margin-bottom: 10px;
	}
  }
  .main-menu__item:hover{
	border: none;
	margin-bottom: 0px;
  }
  .logo-header img{
	height: 50px;
  }
  .main-menu__item{
	height: 50px;
  }
  .header__top-wrapper{
	margin-top: 10px;
  }
  .contacts .contacts__workdays{
	text-align: left;
  }
  .contacts__phone{
	text-align: left;
  }
  .contacts__callback{
	text-align: right;
  }
  .header__top-wrapper-fixed .main-menu__item{
	display: flex;
  }
  .slider .slide__header {
	position: absolute;
	top: 50%;
	font-size: 50px;
	font-family: "GothamPro", sans-serif;
	color: #fff;
	font-weight: normal;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 600px;
	line-height: 50px;
	font-size: 32px;
  }
  .contacts__callback{
	display: block;
  }
  .contacts{
	padding-bottom: 20px;
  }
  .main-menu__item a{
	text-align: center;
  }
  .header__top{
	height: auto;
  }
  .contacts {
	position: relative;
	margin-top: 15px;
  }
  .callback-form__inputs-wrap, .question-form__inputs-wrap{
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
  }
  .input__border-radius, .button-red{
	width: 100%;
	margin-bottom: 25px;
  }
  .about-company .leftOfContainer{
	position: relative;
  }
  .about-company__article{
	margin-top: 25px;
  }
  .brands .brends-panel{
	margin: 25px auto;
  }
  .callback-form .question-form__text, .question-form .question-form__text{
	width: 100%;
  }
  .callback-form__wrap, .question-form__wrap{
	margin-top: 50px;
	margin-bottom: 50px;
  }
  .main-page-articles .article-info{
	margin-bottom: 20px;
  }
  .main-page-articles .show-more-articles {
	position: relative;
	/* bottom: 130px; */
	/* right: -130px; */
	margin-top: 50px;
	left: 0;
	bottom: 0;
  }
  .installation-item__text{
	text-align: center;
  }
  .installation-item.active .installation-item__link{
	margin: 0 auto;
  }
  .padding-off{
	padding-left: 15px;
	padding-right: 15px;
  }
  .brands__slider-panel .brands-header-text {
	font: 35px "roboto-bold", sans-serif;
	color: #084464;
	text-align: center;
  }
  .company-news .company-news__main-news .company-news__main-news-header{
	right: 0;
  }
  .company-news .company-news__main-news{
	margin-bottom: 50px;
  }
  .footer-menu{
	display: none;
  }
  .footer-logo img{
	margin: 0 auto;
  }
  .footer__social-networks-header{
	text-align: center;
  }
  .footer__social-networks{
	width: 100%;
  }
  .footer__social-networks {
	width: 100%;
	display: flex;
	justify-content: center;
  }

}

// ≥768px
@include media-breakpoint-down(sm) {
  .header--blue{
	height: 150px;
  }
  .footer__social-networks{
	width: 100%;
	display: flex;
	justify-content: center;
  }
  .footer-logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
	justify-content: center;
  }
  .footer__social-networks-header {
	font: 14px "roboto-regular", sans-serif;
	color: #fff;
	margin-bottom: 10px;
	display: block;
	margin-left: 15px;
	text-align: center;
	margin-top: 15px;
  }
  .footer {
	height: auto;
	/* margin-top: -170px; */
	position: relative;
	background: #86abc4;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 25px 0;
  }
  .header__top-wrapper{
	margin-top: 0px;
  }
  .header__top{
	height: auto;
  }
  .main-menu__item .main-menu__link{
	text-align: center;
  }
  .contacts{
	position: relative;
  }
  .big-menu__img-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 155px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 10px;
	background-color: #ebf1fa;
	border: 1px solid #bdd1dc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: 40px;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	text-align: center;
	padding: 10px;
	.big-menu__description{
	  margin: 0;
	  width: 100%;
	  margin-top: 15px;
	}
  }
  .menu-button {
	display: block !important;
	/* margin: 0 auto; */
	width: 40px;
	height: 40px;
	position: absolute;
	top: 20px;
	z-index: 51;
  }
  .header__name {
	font-size: 32px;
	text-align: center;
	font-family: "GothamPro", sans-serif;
	color: #fff;
	font-weight: normal;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	line-height: 70px;
  }
  .callback-form .callback-form__text, .callback-form .question-form__text, .question-form .callback-form__text, .question-form .question-form__text{
	width: 100%;
  }
  .slider .slide__header{
	width: 90%;
	font-size: 32px;
  }
  .contacts__workdays,.contacts__phone,.contacts__callback{
	display: flex;
	justify-content: center;
  }
  .header__top{
	padding-bottom: 25px;
  }
  .menu, .slider-menu{
	display: block;
  }
  .header__top-wrapper-fixed{
	display: none !important;
  }
  .main-menu{
	display: none;
	background-color: rgba(0,0,0,.95);
	height: 100vh;
	position: relative;
	z-index: 50;
	.main-menu__item{
	  height: 50px;
	  &:first-child{
		text-align: center;
		display: flex;
		width: 100%;
		justify-content: center;
		height: 130px;

	  }
	}
  }
  .header--blue{
	.contacts{
	  margin-top: 15px;
	}
  }
  .header--blue .header__top-wrapper{
	height: auto;
  }
  .big-menu.large-menu .big-menu__item{
	width: 100%;
  }
  .big-menu .big-menu__item{
	width: 100%;
  }
  .slider .slide__header {
	width: 90%;
	font-size: 22px;
	display: flex;
	max-width: 60%;
	margin: 0 auto;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
  }
  .slider .slide__header{
	line-height: 1.8em;
  }
  .header--blue{
	.main-menu{
	  min-height: 100%;
	  height: 100vh;
	}
	.sandwich.active{
	  .sw-topper, .sw-bottom, .sw-footer{
		background-color: #fff;
	  }
	}
	.sw-topper, .sw-bottom, .sw-footer{
	  background-color: #000;
	}
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  .button-red-arrow{
	right: 0;
	bottom: 0;
	position: relative;
  }
  .about-company__article{
	margin-left: 0;
  }
  .about-company__article-list .about-company__article-item-num{
	width: 50px;
	height: 50px;
	background-size: cover;
  }
  .about-company{
	margin-bottom: 40px;
  }
  .company-news .company-news__main-news .company-news__main-news-header {
	position: absolute;
	background-color: #fff;
	z-index: 9;
	bottom: 30px;
	padding: 12px;
	width: auto;
	font-size: 14px;
  }
  .main-page-articles .main-articles-second-row{
	margin-bottom: 70px;
  }
  .installation{
	margin-bottom: 15px;
  }
  .article-big{
	margin-bottom: 20px;
  }
  .main-page-articles .main-articles-second-row {
	margin-top: 10px;
  }
  .news--catalog__info{
	font-size: 14px;
	width: auto;
  }
  .news--catalog__img{
	width: 100%;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
