@import "vars";
@import "fonts";
@import "libs";

/****************others************************/
@keyframes wobble {
  from {
	transform: translate3d(0, 0, 0);
  }

  25% {
	transform:rotate3d(0, 0, 1, -10deg);
  }

  50% {
	transform: rotate3d(0, 0, 1, 5deg);
  }

  75% {
	transform: rotate3d(0, 0, 1, -10deg);
  }

  to {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
  }
}

@keyframes redFill {
  from {
	transform: translate3d(0, 0, 0);
  }

  25% {
	border-top: 2px solid $accent;
  }

  50% {
	border-top: 2px solid $accent;
	border-right: 2px solid $accent;
  }

  75% {
	border-top: 2px solid $accent;
	border-right: 2px solid $accent;
	border-bottom: 2px solid $accent;
  }

  to {
	border-top: 2px solid $accent;
	border-right: 2px solid $accent;
	border-bottom: 2px solid $accent;
	border-left: 2px solid $accent;
  }
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper .empty-fix {
  height: 170px;
}
html {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  width: 100%;
  height: 100%;
}
/******************slider**********************/
.slider{
  position: relative;
  left: 0;
  right: 0;
  max-height: 100vh;
  overflow: hidden;
  .slide{
	height: 100vh;
	img{
	  min-width: 100%;
	  object-fit: cover;
	  height: 100%;
	}
  }
}
/******************header**********************/
.header{
  height: 100vh;
  overflow: hidden;
  position: relative;
  &__top{
	height: 130px;
  }
  &__top-wrapper-fixed{
	height: 71px;
	background-color: #fff;
	border-bottom: 1px solid #9ab0c7;
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	z-index: 99999;
	.header__top{
	  height: 70px;
	}
	.main-menu__item{
	  height: 70px;
	  .main-menu__link{
		color: #084464;
		font-size: 13px;
		text-transform: uppercase;
		opacity: .7;
	  }
	}
	.logo-header img{
	  height: initial;
	}
	.contacts .contacts__phone{
	  font-size: 16px;
	  font-family: "roboto-bold", sans-serif;
	  color: #084464;
	  text-align: right;
	}
	.contacts__callback{
	  align-items: center;
	  .phone-icon{
		background-image: url("../img/icons/phone-red-icon.png");
		width: 13px;
		height: 12px;
		background-repeat: no-repeat;
		background-position: 50%;
	  }
	  .contacts__callback-link{
		font-size: 14px;
		font-family: "roboto-bold", sans-serif;
		color: #084464;
	  }
	}
	.header__top-find{
	  position: absolute;
	  top: 0;
	  right: 50px;
	  height: 100%;
	  width: 40px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	}
  }
  &__top-wrapper{
	border-bottom: 1px solid #9ab0c7;
	position: absolute;
	overflow: hidden;
	top: 0;
	width: 100%;
  }
  &__central-info{
	height: 100%;
	position: absolute;
	width: 100%;
	top: 50%;
  }
  &__name{
	font-size: 50px;
	font-family: "GothamPro", sans-serif;
	color: #fff;
	font-weight: normal;
	transform: translateY(-50%);
	width: 600px;
	line-height: 70px;
  }
  &__slider-panel{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #f00;
	height: 100px;
  }
  &__slider-panel-counter{
	font-size: 14px;
	font-family: "roboto-regular", sans-serif;
	opacity: 0.4;
	color: #fff;
  }
  &__slider-panel-buttons{
	display: flex;
  }
}
.header__slider-panel-buttons{
  justify-content: flex-end;
  .button-round-arrow{
	position: relative;
	z-index: 2;
  }
}
.header__slider-button-left{
  background-image: url("../img/icons/arrow-left-accent.png");
  border: 1px solid $gray;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 25px;
  opacity: 0.7;
  &:hover{
	opacity: 1;
	animation: redFill 1s forwards;
	background-image: url("../img/icons/left-red--arrow.png");
  }
}
.header__slider-button-right{
  background-image: url("../img/icons/arrow-right-accent.png");
  border: 1px solid $gray;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  &:hover{
	opacity: 1;
	animation: redFill 1s forwards;
	background-image: url("../img/icons/right-red--arrow.png");
  }
}
.logo{
  &-header{
	height: 130px;
	display: flex;
	align-items: center;
	img{
	  display: block;
	  height: 100px;
	}
  }
}
.main-menu{
  @extend .menu;
  align-items: center;
  &__item{
	padding: 0 15px;
	height: 130px;
	display: flex;
	align-items: center;
	&:hover{
	  border-bottom: 2px solid #f00;
	  margin-bottom: -2px;
	}
	&:first-child:hover{
	  border-bottom: none;
	  margin-bottom: 0;
	}
	a{
	  color: #b8c5d6;
	  font: 13px "roboto-regular", sans-serif;
	  text-transform: uppercase;
	  height: 100%;
	  display: flex;
	  align-items: center;
	  &:hover, &:active{
		color: #fff;
		text-decoration: none;
	  }
	}
  }
}
.slider-menu{
  @extend .menu;
  align-items: center;
  height: 260px;
  &__item{
	padding-top: 16px;
	border-left: 1px solid $textColor;
	border-right: 1px solid $textColor;
	border-bottom: 1px solid $textColor;
	width: 250px;
	display: block;
	flex-wrap: wrap;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	min-height: 252px;
	max-height: 252px;
	overflow: hidden;
  }
  &__link{
	text-align: center;
	display: block;
	outline: none;
	&:hover, &:active{
	  text-decoration: none;
	  outline: none;
	}
  }
  &__panel{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	.slider-menu__next-slide{
	  margin-left: 15px;
	  background-image: url("../img/icons/arrow-right.png");
	  width: 16px;
	  height: 10px;
	  opacity: .7;
	  &:hover{
		opacity: 1;
	  }
	}
	.slider-menu__prev-slide{
	  margin-left: 15px;
	  background-image: url("../img/icons/arrow-left.png");
	  width: 16px;
	  height: 10px;
	  opacity: .7;
	  &:hover{
		opacity: 1;
	  }
	}
  }
  &__img-wrap{
	height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  &__text{
	font: 18px "roboto-medium", sans-serif;
	text-align: left;
	display: block;
	color: #084464;
	max-height: 65px;
	overflow: hidden;
  }
}
.contacts{
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  .contacts__workdays{
	color: #b8c5d6;
	font: 13px "roboto-regular", sans-serif;
	position: relative;
	margin-bottom: 10px;
  }
  &__search{
	display: block;
	background-image: url("../img/icons/search-icon.png");
	width: 19px;
	height: 19px;
	position: absolute;
	right: 0;
	bottom: 0;
  }
  &__phone{
	font: 18px "roboto-medium", sans-serif;
	color: #fff;
	margin-bottom: 10px;
  }
  &__callback{
	display: flex;
	justify-content: space-between;
	&:hover{
	  .phone-icon{
		animation: wobble 1s infinite;
	  }
	}
	&-link{
	  font: 16px "roboto-medium", sans-serif;
	  color: #fff;
	  font-weight: normal;
	}
	.phone-icon{
	  display: inline-block;
	  background-image: url("../img/icons/phone-icon.png");
	  width: 15px;
	  height: 15px;
	  margin-right: 10px;
	}
	&:hover, &:active{
	  text-decoration: none;
	}
  }
}
.menu{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/*************feedback****************/
.callback-form__wrap,.question-form__wrap{
  margin-top: 130px;
  margin-bottom: 130px;
}
.callback-form, .question-form{
  display: block;
  .callback-form__text, .question-form__text{
	font: 30px "roboto-medium", sans-serif;
	color: $textColorDark;
	text-align: center;
	width: 600px;
	margin: 0 auto;
  }
  .question-form__text{
	width: 900px;
  }
  &__inputs-wrap{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
  }
}
/*******************about-company***********************/
.about-company{
  display: flex;
  position: relative;
  overflow: hidden;
  margin-bottom: 140px;
  &__article{
	margin-left: 15px;
	padding-left: 90px;
  }
  &__img-wrap{
	height: 100%;
	img{
	  display: block;
	  height: 100%;
	  object-fit: contain;
	  width: 100%;
	}
	h2{
	  position: absolute;
	  z-index: 5;
	  top: 0;
	  height: 150px;
	  background-color: $accent;
	  padding: 0;
	  margin: 0;
	  padding-left: 5px;
	  color: #fff;
	  display: flex;
	  align-items: center;
	  width: 48%;
	}
  }
  &__article-text{
	font: 15px "roboto-regular", sans-serif;
	color: $textColorDark;
  }
  .leftOfContainer{
	position: absolute;
	left: 0;
	padding: 0;
	overflow: hidden;
  }
  &__article-list{
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	.about-company__article-item-num{
	  font: 20px "roboto-medium", sans-serif;
	  color: #fff;
	  height: 100px;
	  width: 100px;
	  //background-color: $accent;
	  display: inline-flex;
	  border-radius: 50%;
	  justify-content: center;
	  align-items: center;
	  background-image: url("../img/icons/elipse_ol.png");
	}
  }
}

/**********************brand************************/
.brands__slider-panel{
  .brands-header-text{
	font: 40px "roboto-bold", sans-serif;
	color: $textColorDark;
  }
}

.brands{
  background-color: #ebf1fa;
  padding-top: 95px;
  padding-bottom: 95px;
  .brends-panel{
	display: flex;
	width: 100px;
	justify-content: space-between;
	margin-top: 100px;
  }
  .slick-prev, .slick-next{
	display: none !important;
  }
  .slick-slide{
	width: 182px;
  }
  .brand__name{
	font: 20px "roboto-medium", sans-serif;
	color: $textColorDark;
  }
  .brand__description{
	color: $textColor;
	font: 14px "roboto-regular", sans-serif;
	line-height: 20px;
  }
  .round-rarrow:hover{
	background-image: url("../img/icons/right-red--arrow.png");
  }
}
.brands__list{
  display: flex;
  justify-content: flex-start;
  padding: 0;
  .brands__item{
	display: flex;
	flex-wrap: wrap;
	height: 310px;
	width: 185px;
	border: 1px solid $gray;
	padding: 20px;
	padding-top: 0;
	border-right: none;
  }
}
.brand__img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.brand{
  width: 100%;
  outline: none;
  &:active, &:hover{
	text-decoration: none;
  }
}


/*********************installation**************************/
.installation{
  margin-bottom: 70px;
  &__header{
	.accent__color{
	  display: block;
	  color: $accent;
	}
  }
}

.installation-item{
  height: 300px;
  font: 20px "roboto-medium", sans-serif;
  text-decoration: none;
  color: $textColorDark;
  .round-rarrow{
	display: none;
	&:hover{
	  background-image: url("../img/icons/right-red--arrow.png");
	}
  }
  &:active, &:hover{
	text-decoration: none;
	color: $textColorDark;
  }
  &.active{
	background-color: rgba(134,171,196,.2);
	.installation-item__link{
	  display: block;
	}
  }
  &__image{
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }
  &__text{
	text-align: left;
	font: 20px "roboto-medium", sans-serif;
	height: 75px;
	overflow: hidden;
  }
  &__wrapper{

  }
}
/********main page articles***********/
.main-page-articles{
  .article{
	&-wrap{
	  display: flex;
	}
	&-small,&-big{
	  //width: 41.67%;
	  img{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		font-weight: bold;
	  }
	  p{
		font: 14px "roboto-regular", sans-serif;
		color: $textColorDark;
	  }
	}
	&-big{
	 // width: 58.33%;
	}
	&-info{
	  font: 16px "roboto-regular", sans-serif;
	  color: $gray;
	  margin-bottom: 170px;
	}
	&__thumbnail{
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 150px;
	  width: 60%;
	  background: $accent;
	  display: flex;
	  align-items: center;
	  padding-left: 30px;
	  font: 30px "roboto-bold", sans-serif;
	  color: #ffffff;
	  padding-right: 50%;
	}
	&__text{
	  font: 14px "roboto-regular", sans-serif;
	}
  }
  .article__picture{
	position: relative;
	overflow: hidden;
	img{
	  display: block;
	  width: 100%;
	  overflow: hidden;
	  position: relative;
	  top: 0;
	  left: 0;
	}
  }
  .main-articles-second-row{
	margin-top: 70px;
	margin-bottom: 140px;
	position: relative;
  }
  .show-more-articles{
	position: absolute;
	bottom: 130px;
	right: -130px;
  }
}
/****************************company news*************************/
.company-news{
  margin-bottom: 145px;
  .company-news__main-news{
	position: relative;
	display: block;
	.company-news__img-wrap{
	  height: 420px;
	  overflow: hidden;
	  transition: all .3s;
	  &:hover{
		img{
		  transform: scale(1.2);
		  transition: all .3s;
		}
	  }
	  img{
		display: block;
		width: 100%;
		height: 100%;
	  }
	}
	h2{
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 66%;
	  display: flex;
	  background-color: $accent;
	  height: 150px;
	  align-items: center;
	  padding-left: 30px;
	  color: #ffffff;
	  font: 30px "roboto-bold", sans-serif;
	}
	.company-news__main-news-header{
	  position: absolute;
	  background-color: #fff;
	  z-index: 9;
	  bottom: 30px;
	  padding: 32px;
	  width: 400px;
	  right: -150px;
	  h3{
		font: 25px "roboto-bold", sans-serif;
		color: $textColorDark;
	  }
	  .company-news__main-news-data{
		font-size: 14px;
		font-family: "roboto-regular", sans-serif;
		color: $textColorDark;
	  }
	}
  }
  .company-news__item{
	display: flex;
	margin-bottom: 30px;
	&:hover{
	  text-decoration: none;
	  .company-news__header{
		color: $accent;
	  }
	  img{
		display: block;
		transform: scale(1.2);
		transition: all .5s;
	  }
	}
	.company-news__header{
	  margin-left: 30px;
	  color: $textColorDark;
	  font-size: 20px;
	  font-family: "roboto-bold", sans-serif;
	  width: 260px;
	  display: block;
	  line-height: 1.2em;
	  &:hover{
		color: $accent;
	  }
	}
	.company-news__data{
	  margin-left: 30px;
	  font-size: 14px;
	  font-family: "roboto-regular", sans-serif;
	  color: $textColorDark;
	}
	.company-news__img-wrap{
	  width: 100px;
	  height: 90px;
	  overflow: hidden;
	  img{
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	  }
	}
  }
}
/******************footer**********************/
.footer{
  height: 170px;
  margin-top: -170px;
  position: relative;
  background: #86abc4;
  display: flex;
  align-items: center;
  &-logo{
	display: flex;
	align-items: center;
	height: 100%;
  }
  &-menu{
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	font: 14px "roboto-bold", sans-serif;
	text-transform: uppercase;
	.footer-menu__link{
	  color: #fff;
	  opacity: .7;
	  &:hover{
		color:#fff;
		text-decoration: none;
		opacity: 1;
	  }
	}
  }
}
.footer__social-networks-header{
  font: 14px "roboto-regular", sans-serif;
  color: #fff;
  margin-bottom: 10px;
  display: block;
  margin-left: 15px;
}
.footer__social-networks{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: flex-start;
  .footer__social-item{
	display: block;
	height: 36px;
	width: 36px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: 15px;
	opacity: .7;
	&:first-child{
	 // margin-left: 0;
	}
	&:hover{
	  opacity: 1;
	}
  }
  .facebook{
	background-image: url("../img/icons/fb-icon.png");
  }
  .vk{
	background-image: url("../img/icons/vk-icon.png");
  }
  .twitter{
	background-image: url("../img/icons/twitter-icon.png");
  }
  .instagram{
	background-image: url("../img/icons/instagram-icon.png");
  }
  .footer__social-link{
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
  }
}

/*******elements, buttons********/
.button-round-arrow{
  display: block;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.input__border-radius, .button-red{
  display: block;
  width: 250px;
  margin: 0;
  padding: 0;
  height: 50px;
  -webkit-border-radius: 50%;
  border-radius: 25px;
  border: solid 2px $gray;
  padding-left: 30px;
  padding-right: 30px;
  color: $gray;
  font: 14px "roboto-medium", sans-serif;
  &::placeholder{
	color: $gray;
	font: 14px "roboto-medium", sans-serif;
  }
}

.callback-form__submit, .button-red, .question-form__submit{
  display: block;
  background-color: $accent;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font: 14px "roboto-bold", sans-serif;
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  &:focus{
	outline: none;
  }
  .arrow-right, .arrow-down{
	background-color: #fff;
	height: 40px;
	width: 40px;
	position: absolute;
	border-radius: 50%;
	top: 5px;
	right: 5px;
	background-image: url("../img/icons/arrow-right.png");
	background-repeat: no-repeat;
	background-position: 50%;
  }
  .arrow-down{
	background-image: url("../img/icons/arrow-down.png");
  }
}
.question-form__submit{
  width: auto;
  padding-left: 30px;
  padding-right: 60px;
}

.button-red{
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover, &:active{
	text-decoration: none;
	color: #fff;
  }
}
.section-header{
  display: block;
  text-align: center;
  font: 40px "roboto-bold", sans-serif;
  color: #084464;
  margin-bottom: 40px;
  .accent__color{
	display: block;
  }
}
.round-rarrow,.round-larrow{
  display: block;
  border: 1px solid $gray;
  border-radius: 50%;
  background-image: url("../img/icons/arrow-right-accent.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  outline: none;
  &:active, &:hover{
	outline: none;
  }
}
.redFill{
  &:hover{
	animation: redFill .3s forwards;
  }
}
.button-red-arrow{
  color: #084464;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  right: 0;
  bottom: 70px;
  align-items: center;
  font-size: 14px;
  font-family: "roboto-regular", sans-serif;
  font-weight: bold;
  &:hover{
	text-decoration: none;
	color: $textColorDark;
  }
  &:after{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $accent;
	margin-left: 15px;
	text-decoration: underline;
	background-image: url("../img/icons/arrow-right-white.png");
	background-repeat: no-repeat;
	background-position: center;
  }
}
.round-larrow{
  background-image: url("../img/icons/arrow-left-accent.png");
  &:hover{
	background-image: url("../img/icons/left-red--arrow.png");
  }
}
.padding-off{
  padding-left: 0;
  padding-right: 0;
}
.menu-button{
  display: none;
}


@import "media"; // Always at the end
