.company-news__main-news-header{
  max-height: 150px;
}
.company-news .company-news__main-news .company-news__main-news-header h3 {
    font: 25px roboto-bold,sans-serif;
    color: #084464;
    MAX-HEIGHT: 72px;
    display: block;
    overflow: hidden;
}

.company-news .company-news__main-news .company-news__main-news-header{
  right: -237px;
}

.callback-form__inputs-wrap{
  width: 820px;
}
.main-menu__wrap{
  .slider-menu__item{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.callback-form__wrap, .question-form__wrap{
  margin-top: 65px;
  margin-bottom: 65px;
}
.about-company{
  margin-bottom: 70px;
}
.main-page-articles .main-articles-second-row{
  margin-bottom: 20px;
}
.brands{
  margin-top: 20px;
  padding-bottom: 45px;
  padding-top: 45px;
}
.news-thumbnail__article-name{
  max-height: 76px;
  overflow: hidden;
}
