.company-news__main-news-header{
  max-height: 150px;
}
.company-news .company-news__main-news .company-news__main-news-header h3 {
    font: 25px/30px roboto-bold,sans-serif;
    color: #084464;
    MAX-HEIGHT: 76px;
    display: block;
    overflow: hidden;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      background-color: #f00;
      height: 10px;
      top: 60px;
      height: 20px;
      background: linear-gradient(to bottom, rgba(255,255,255,.11) 0%, rgba(255,255,255,1) 100%);
    }
}

.company-news .company-news__main-news .company-news__main-news-header{
  right: -237px;
}

.callback-form__inputs-wrap{
  width: 820px;
}
.main-menu__wrap{
  .slider-menu__item{
    padding-left: 5px;
    padding-right: 5px;
  }
}
.callback-form__wrap, .question-form__wrap{
  margin-top: 65px;
  margin-bottom: 65px;
}
.about-company{
  margin-bottom: 70px;
}
.main-page-articles .main-articles-second-row{
  margin-bottom: 20px;
}
.brands{
  margin-top: 20px;
  padding-bottom: 45px;
  padding-top: 45px;
}
.news-thumbnail__article-name{
  max-height: 76px;
  overflow: hidden;
}
.about-company__article-item{
  position: relative;
  .about-company__article-item-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.company-news .company-news__main-news h2{
  width: 60%;
}
@media only screen and (max-width: 992px) {
  .callback-form__inputs-wrap{
    width: 100%;
  }
  .company-news .company-news__main-news .company-news__main-news-header{
    right: 0;
  }
}
